Package: geolift
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Homepage: http://aksw.org/Projects/GeoLift.html
Depends: openjdk-6-jre | sun-java6-jre
Maintainer: Mohamed Sherif <sherif@informatik.uni-leipzig.de>
Description: Spatial mapping framework for enriching RDF datasets with Geo-spatial information.
	GeoLift is a spatial mapping component aims to enrich RDF datasets with geo-spatial information. To achieve this goal, GeoLit relies on three atomic modules based on dereferencing, linking and NLP. GeoLift implemented in Java as an open-source project.
Distribution: development